html,
body {
  height: 100%;
}

body {

    background-color: #FFFFFF;
    padding-top: 52px;
}
body.body-login{
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: url(../images/img-login-bg-2.png);
    background-repeat: no-repeat;
    background-position: 130% 100px;
    background-size: auto;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0px auto 0 120px;
  font-size: 0.9rem;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.btn-login {
    color: #fec400;
    background-color: #2E2F82;
    border-color: #2E2F82;
    font-weight: 500;
}
.btn-login:hover{
    color: #FFFFFF;
}
.app-login-logo{
    width: 130px;
}
.form-control {
    font-size: 0.9rem;
    font-weight: 500;
    color: #212529;

}


a.nav-link {
    font-size: 0.9rem;
    font-weight: 600;
    color: #192a56;
}
a.nav-link:hover,a.nav-link.active {
    color: #fec400;
}
a.dropdown-item {
    font-size: 0.9rem;
}
.onHover{
    display: none;
}
table.tbl-list tbody tr:hover .onHover{
    display: block;
}
a.menu-icon {
    color: #4b616b;
}

.hero-bg{
  background-image: url(../images/hero-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 50vh;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.home-nav-header{
  padding: 25px 0 0;
  background: #ecf0f1;
  margin-top: -50px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.home-tab-menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  padding: 0.5rem 1.75rem;
  color: #576574;
}
.home-tab-menu img {
  width: 72px;
  margin-bottom: 10px;
}
.nav-tabs .nav-link.home-tab-menu.active{
  color: #222f3e;
  background-color: #d4d4d4;
  border-color: #dee2e6 #dee2e6 #fff;
}
.nav-tabs {
  border-bottom: 5px solid #dee2e6;
}
.tab-list-body{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}